@font-face {
  font-family: "Pixel Sans";
  src: url("./fonts/pixel-sans-serif.woff2") format("woff2"),
}
@font-face {
  font-family: "Pixel Sans Condensed";
  src: url("./fonts/pixel-sans-serif-condensed.woff2") format("woff2"),
}

body {
  margin: 0;
  font-family: 'Pixel Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --ms-grey: #c1c1c1;
}