@font-face {
  font-family: 'px sans nouveaux';
  src: url('./fonts/px_sans_nouveaux.woff2') format('woff2'),
      url('./fonts/px_sans_nouveaux.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: "px sans nouveaux", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --ms-grey: #c1c1c1;
}